---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection, render, type CollectionEntry } from 'astro:content';
import { PAGE_TITLES } from '../../content.config';

import WorkExperiencesSection from './parts/WorkExperiencesSection.astro';
import EducationSection from './parts/EducationSection.astro';
import PetProjectsSection from './parts/PetProjectsSection.astro';

type AboutEntry = CollectionEntry<'about'>;

const aboutCollection: AboutEntry[] = await getCollection('about');
if (aboutCollection.length === 0) {
  throw new Error('About page not found in copy collection');
}
const about: AboutEntry = aboutCollection[0];

const { Content } = await render(about);

const {
  headline,
  nda: { headline: ndaHeadline, images },
} = about.data;

type TagsCodingLanguagesEntry = CollectionEntry<'tagsCodingLanguages'>;

const tagsCodingDocs: TagsCodingLanguagesEntry[] = await getCollection(
  'tagsCodingLanguages'
);
if (tagsCodingDocs.length === 0) {
  throw new Error('Tags & coding languages not found in copy collection');
}
const tagsCodingLanguages = tagsCodingDocs[0].data
  .tagsCodingLanguages as string[];

type SocialLinksEntry = CollectionEntry<'socialLinks'>;

const socialLinksCollection: SocialLinksEntry[] =
  await getCollection('socialLinks');
if (socialLinksCollection.length === 0) {
  throw new Error('Social links not found in copy collection');
}
const socialLinks: SocialLinksEntry = socialLinksCollection[0];
const { headline: socialLinksHeadline, CTA: socialLinksCTA } = socialLinks.data;

const pageTitle = PAGE_TITLES.about;
---

<BaseLayout title={pageTitle}>
  <Content />
  <h2>{headline}</h2>

  <!-- Accordion (Desktop Navigation) -->
  <wa-accordion collapseOthers>
    <PetProjectsSection />
  </wa-accordion>
  <!-- Carousel (Mobile Navigation) -->
  <wa-carousel ariaLabel='Main Topic'>
    <PetProjectsSection />
  </wa-carousel>
  <ul>
    {tagsCodingLanguages.map((item) => <li>{item}</li>)}
  </ul>

  <WorkExperiencesSection />
  <EducationSection />

  <h2>{ndaHeadline}</h2>
  <div class='logos'>
    {
      images.map(({ src, alt }) => (
        <img src={src ?? undefined} alt={alt ?? ''} />
      ))
    }
  </div>
  <h2>{socialLinksHeadline}</h2>
  <ul>
    {
      socialLinksCTA.map(({ url, label }) => (
        <li>{url && <a href={url}>{label}</a>}</li>
      ))
    }
  </ul>
</BaseLayout>

<script>
  import 'wa11y-ui/wa-accordion';
  import 'wa11y-ui/wa-carousel';
</script>
