---
import BaseLayout from '../layouts/BaseLayout.astro';

import { getEntryBySlug } from 'astro:content';

const about = await getEntryBySlug('copy', 'about');

const {
  selectedWorks: {
    headline: selectedWorksHeadline,
    items,
    nda: { headline: ndaHeadline, images },
    knowMore: { headline: knowMoreHeadline, CTA },
  },
} = about.data;
---

<BaseLayout title="About | Marco Mazzai">
  <h2>{selectedWorksHeadline}</h2>
  <!-- Accordion (Desktop Navigation) -->
  <ul>
    {
      items.map(
        (item: {
          headline: unknown;
          type: unknown;
          description: unknown;
          tags: any[];
          link: { url: string | URL | null | undefined; label: unknown };
        }) => {
          const {
            headline,
            type,
            description,
            tags,
            link: { url, label },
          } = item;
          return (
            <li>
              <h3>{headline}</h3>
              <em>{type}</em>
              <p>{description}</p>
              <div class='chip-group'>
                {tags.map((tag: unknown) => (
                  <span class='chip'>{tag}</span>
                ))}
              </div>
              <a href={url} target='_blank'>
                {label}
              </a>
            </li>
          );
        }
      )
    }
  </ul>
  <!-- Carousel (Mobile Navigation) -->
  <section class='carousel' aria-label='Main Topic'>
    <ul class='carousel__cards'>
      {
        items?.map(
          (item: {
            type: unknown;
            description: unknown;
            chips: any[];
            link: string | URL | null | undefined;
          }) => (
            <li class='carousel__card'>
              <em>{item.type}</em>
              <p>{item.description}</p>
              <div class='chip-group'>
                {item.chips?.map((chip: unknown) => (
                  <span class='chip'>{chip}</span>
                ))}
              </div>
              <a href={item.link} target='_blank' class='external-link'>
                Sample Text
              </a>
            </li>
          )
        )
      }
    </ul>
    <ul class='carousel__controls'>
      <li>
        <button type='button' aria-label='Previous item'>
          <!-- BUTTON PREV -->
        </button>
      </li>
      <li>
        <button type='button' aria-label='Next item'>
          <!-- BUTTON NEXT -->
        </button>
      </li>
    </ul>
    <ul class='carousel__navigation'>
      {
        items.map((_: any, index: number) => (
          <li>
            <button
              type='button'
              aria-label={`Topic ${index + 1}`}
              class={index === 0 ? '-full' : ''}
              data-slide={index}
              >
              <!-- LITTLE DOT -->
              </button>
            
          </li>
        ))
      }
    </ul>
    <div
      role='status'
      aria-live='polite'
      aria-atomic='true'
      aria-label={`Item 1 of ${items.length}`}
    >
    </div>
  </section>
  <!-- NDA -->
  <h2>{ndaHeadline}</h2>
  <div class='logos'>
    {
      images.map(
        ({
          src,
          alt,
        }: {
          src: string | null | undefined;
          alt: string | null | undefined;
        }) => <img src={src} alt={alt} />
      )
    }
  </div>

  <h2>{knowMoreHeadline}</h2>
  <ul>
    {
      CTA.map(
        (cta: { url: string | URL | null | undefined; label: unknown }) => {
          const { url, label } = cta;

          return (
            <li>
              <a href={url}>{label}</a>
            </li>
          );
        }
      )
    }
  </ul>
</BaseLayout>
