---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import { PAGE_TITLES } from '../content.config';

type AboutEntry = CollectionEntry<'about'>;
type AboutItem = {
  headline: string;
  type: string;
  description: string;
  date: {
    from: Date;
    to?: Date | 'Present';
  };
  tags: string[];
  link: { url: string; label: string };
};

const aboutCollection: AboutEntry[] = await getCollection('about');
if (aboutCollection.length === 0) {
  throw new Error('About page not found in copy collection');
}

const about: AboutEntry = aboutCollection[0];
const {
  headline,
  nda: { headline: ndaHeadline, images },
  knowMore: { headline: knowMoreHeadline, CTA },
  petProjects,
} = about.data;

const pageTitle = PAGE_TITLES.about;
---

<BaseLayout title={pageTitle}>
  <h2>{headline}</h2>
  <!-- Accordion (Desktop Navigation) -->
  <wa-accordion collapseOthers>
    {
      petProjects.map(({headline, type, description, date, tags, link}: AboutItem) => (
          <h3>{headline}</h3>
          <div>
            <em>{type}</em>
            <p>{description}</p>
            <span>{date.from} - {date.to}</span>
            <div>
              {tags.map((tag) => (
                <span>{tag}</span>
              ))}
            </div>
            {link.url && (
              <a href={link.url} target='_blank'>
                {link.label}
              </a>
            )}
          </div>
      ))
    }
  </wa-accordion>
  <!-- Carousel (Mobile Navigation) -->
  <wa-carousel ariaLabel="Main Topic">
    {
      petProjects.map(({headline, type, description, date, tags, link}: AboutItem) => (
          <h3>{headline}</h3>
          <div>
            <em>{type}</em>
            <p>{description}</p>
            <span>{date.from} - {date.to}</span>
            <div>
              {tags.map((tag) => (
                <span>{tag}</span>
              ))}
            </div>
            {link.url && (
              <a href={link.url} target='_blank'>
                {link.label}
              </a>
            )}
          </div>
          <p>{description}</p>
      ))
    }
  </wa-carousel>

  <h2>{ndaHeadline}</h2>
  <div class='logos'>
    {
      images.map(({ src, alt }) => (
        <img src={src ?? undefined} alt={alt ?? ''} />
      ))
    }
  </div>
  <h2>{knowMoreHeadline}</h2>
  <ul>
    {CTA.map(({ url, label }) => <li>{url && <a href={url}>{label}</a>}</li>)}
  </ul>
</BaseLayout>

<script>
  import 'wa11y-ui/wa-accordion';
  import 'wa11y-ui/wa-carousel';
</script>
