---
import BaseLayout from '../layouts/BaseLayout.astro';

import { getCollection } from 'astro:content';

const aboutCollection = await getCollection('about');

if (aboutCollection.length === 0) {
  throw new Error('About page not found in copy collection');
}

const about = aboutCollection[0];

const {
  headline,
  nda: { headline: ndaHeadline, images },
  knowMore: { headline: knowMoreHeadline, CTA },
  items,
} = about.data;
---

<BaseLayout title='About | Marco Mazzai'>
  <h2>{headline}</h2>
  <!-- Accordion (Desktop Navigation) -->
  <ul>
    {
      items.map(
        (item: {
          headline: unknown;
          type: unknown;
          description: unknown;
          tags: any[];
          link: { url: string | URL | null | undefined; label: unknown };
        }) => {
          const {
            headline,
            type,
            description,
            tags,
            link: { url, label },
          } = item;
          return (
            <li>
              <h3>{headline}</h3>
              <em>{type}</em>
              <p>{description}</p>
              <div class='chip-group'>
                {tags.map((tag: unknown) => (
                  <span class='chip'>{tag}</span>
                ))}
              </div>
              <a href={url} target='_blank'>
                {label}
              </a>
            </li>
          );
        }
      )
    }
  </ul>
  <!-- Carousel (Mobile Navigation) -->
  <section class='carousel' aria-label='Main Topic'>
    <ul class='carousel__cards'>
      {
        items?.map((item) => (
          <li class='carousel__card'>
            <em>{item.type}</em>
            <p>{item.description}</p>
            <div class='chip-group'>
              {item.tags?.map((chip: unknown) => (
                <span class='chip'>{chip}</span>
              ))}
            </div>
            <a href={item.link.url} target='_blank' class='external-link'>
              {item.link.label}
            </a>
          </li>
        ))
      }
    </ul>
    <ul class='carousel__controls'>
      <li>
        <button type='button' aria-label='Previous item'> </button>
      </li>
      <li>
        <button type='button' aria-label='Next item'> </button>
      </li>
    </ul>
    <ul class='carousel__navigation'>
      {
        items.map((_: any, index: number) => (
          <li>
            <button
              type='button'
              aria-label={`Topic ${index + 1}`}
              class={index === 0 ? '-full' : ''}
              data-slide={index}
            />
          </li>
        ))
      }
    </ul>
    <div
      role='status'
      aria-live='polite'
      aria-atomic='true'
      aria-label={`Item 1 of ${items.length}`}
    >
    </div>
  </section>
  <h2>{ndaHeadline}</h2>
  <div class='logos'>
    {
      images.map(
        ({
          src,
          alt,
        }: {
          src: string | null | undefined;
          alt: string | null | undefined;
        }) => <img src={src} alt={alt} />
      )
    }
  </div>

  <h2>{knowMoreHeadline}</h2>
  <ul>
    {
      CTA.map(
        (cta: { url: string | URL | null | undefined; label: unknown }) => {
          const { url, label } = cta;

          return (
            <li>
              <a href={url}>{label}</a>
            </li>
          );
        }
      )
    }
  </ul>
</BaseLayout>
