---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';

type AboutEntry = CollectionEntry<'about'>;
type AboutItem = {
  headline: string;
  type: string;
  description: string;
  tags: string[];
  link: { url: string; label: string };
};

const aboutCollection: AboutEntry[] = await getCollection('about');
if (aboutCollection.length === 0) {
  throw new Error('About page not found in copy collection');
}

const about: AboutEntry = aboutCollection[0];
const {
  headline,
  nda: { headline: ndaHeadline, images },
  knowMore: { headline: knowMoreHeadline, CTA },
  items,
} = about.data;

const ABOUT_TITLE: string = 'About | Marco Mazzai';
---

<BaseLayout title={ABOUT_TITLE}>
  <h2>{headline}</h2>
  <!-- Accordion (Desktop Navigation) -->
  <ul>
    {
      items.map((item: AboutItem) => (
        <li>
          <h3>{item.headline}</h3>
          <em>{item.type}</em>
          <p>{item.description}</p>
          <div class='chip-group'>
            {item.tags.map((tag) => (
              <span class='chip'>{tag}</span>
            ))}
          </div>
          {item.link.url && (
            <a href={item.link.url} target='_blank'>
              {item.link.label}
            </a>
          )}
        </li>
      ))
    }
  </ul>
  <!-- Carousel (Mobile Navigation) -->
  <section class='carousel' aria-label='Main Topic'>
    <ul class='carousel__cards'>
      {
        items.map((item: AboutItem) => (
          <li class='carousel__card'>
            <em>{item.type}</em>
            <p>{item.description}</p>
            <div class='chip-group'>
              {item.tags.map((chip) => (
                <span class='chip'>{chip}</span>
              ))}
            </div>
            {item.link.url && (
              <a href={item.link.url} target='_blank' class='external-link'>
                {item.link.label}
              </a>
            )}
          </li>
        ))
      }
    </ul>
    <ul class='carousel__controls'>
      <li>
        <button type='button' aria-label='Previous item'> </button>
      </li>
      <li>
        <button type='button' aria-label='Next item'> </button>
      </li>
    </ul>
    <ul class='carousel__navigation'>
      {
        items.map((_, index) => (
          <li>
            <button
              type='button'
              aria-label={`Topic ${index + 1}`}
              class={index === 0 ? '-full' : ''}
              data-slide={index}
            />
          </li>
        ))
      }
    </ul>
    <div
      role='status'
      aria-live='polite'
      aria-atomic='true'
      aria-label={`Item 1 of ${items.length}`}
    >
    </div>
  </section>
  <h2>{ndaHeadline}</h2>
  <div class='logos'>
    {
      images.map((image) => (
        <img src={image.src ?? undefined} alt={image.alt ?? ''} />
      ))
    }
  </div>
  <h2>{knowMoreHeadline}</h2>
  <ul>
    {CTA.map((cta) => <li>{cta.url && <a href={cta.url}>{cta.label}</a>}</li>)}
  </ul>
</BaseLayout>
