---
import BaseLayout from '../layouts/BaseLayout.astro';

import { getEntryBySlug } from 'astro:content';

const about = await getEntryBySlug('copy', 'about');

const {
  selectedWorks: {
    headline: selectedWorksHeadline,
    items,
    nda: { headline: ndaHeadline, images },
    knowMore: { headline: knowMoreHeadline, CTA },
  },
} = about.data;
---

<BaseLayout>
  <h2>{selectedWorksHeadline}</h2>
  <!-- Accordion // Carousel -->
  <ul>
    {
      items.map(
        (item: {
          headline: unknown;
          type: unknown;
          description: unknown;
          tags: any[];
          link: { url: string | URL | null | undefined; label: unknown };
        }) => {
          const {
            headline,
            type,
            description,
            tags,
            link: { url, label },
          } = item;
          return (
            <li>
              <h3>{headline}</h3>
              <em>{type}</em>
              <p>{description}</p>
              <div class='chip-group'>
                {tags.map((tag: unknown) => (
                  <span class='chip'>{tag}</span>
                ))}
              </div>
              <a href={url} target='_blank'>
                {label}
              </a>
            </li>
          );
        }
      )
    }
  </ul>
  <h3>{ndaHeadline}</h3>
  <div class='logos'>
    {
      images.map(
        ({
          src,
          alt,
        }: {
          src: string | null | undefined;
          alt: string | null | undefined;
        }) => <img src={src} alt={alt} />
      )
    }
  </div>

  <h3>{knowMoreHeadline}</h3>
  <ul>
    {
      CTA.map(
        (cta: { url: string | URL | null | undefined; label: unknown }) => {
          const { url, label } = cta;

          return (
            <li>
              <a href={url}>{label}</a>
            </li>
          );
        }
      )
    }
  </ul>
</BaseLayout>
