---
import { getCollection, render, type CollectionEntry } from 'astro:content';
import BlogList from '../components/BlogList.astro';
import PetProjectsSection from './about/parts/PetProjectsSection.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

type HomeEntry = CollectionEntry<'home'>;
type AboutEntry = CollectionEntry<'about'>;

const homeCollection: HomeEntry[] = await getCollection('home');

if (homeCollection.length === 0) {
  throw new Error('Home page not found in copy collection');
}

const home: HomeEntry = homeCollection[0];

const {
  headline,
  kicker,
  summary,
  image: { alt, src },
} = home.data;

const { Content } = await render(home);

const aboutCollection: AboutEntry[] = await getCollection('about');

if (aboutCollection.length === 0) {
  throw new Error('About page not found in copy collection');
}

const about: AboutEntry = aboutCollection[0];
const { Content: AboutContent } = await render(about);
---

<BaseLayout>
  <h1>{headline}</h1>
  <h2 set:html={kicker} />
  <p set:html={summary} />
  <Content />
  <img src={src} alt={alt} />
  <BlogList />
  <section>
    <h2>Pet Projects</h2>
    <PetProjectsSection />
  </section>
  <section>
    <h2>About Me</h2>
    <AboutContent />
  </section>
</BaseLayout>
