---
import { getCollection, type CollectionEntry } from 'astro:content';

type BlogEntry = CollectionEntry<'blog'>;
type BlogPageEntry = CollectionEntry<'blogPage'>;

const posts: BlogEntry[] = await getCollection('blog');
const blogPageCollection: BlogPageEntry[] = await getCollection('blogPage');

if (blogPageCollection.length === 0) {
  throw new Error('Blog list not found in copy collection');
}

const blogPage: BlogPageEntry = blogPageCollection[0];
const { headline } = blogPage.data;

const getReadingTime = (content: string, wordsPerMinute = 200): number => {
  const wordCount = content.trim().split(/\s+/).length;
  return Math.max(1, Math.ceil(wordCount / wordsPerMinute));
};

const MIN_READ_TEXT: string = 'min read';

const sortedPosts: BlogEntry[] = posts.sort(
  (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) => {
    const [dayA, monthA, yearA] = a.data.date.split('-').map(Number);
    const [dayB, monthB, yearB] = b.data.date.split('-').map(Number);

    const dateA = new Date(yearA, monthA - 1, dayA);
    const dateB = new Date(yearB, monthB - 1, dayB);

    return dateB.getTime() - dateA.getTime();
  }
);
---

<h2>{headline}</h2>
<ul>
  {
    sortedPosts.map((post) => {
      const { slug, title } = post.data;
      const readingTime = getReadingTime(post.body ?? '');

      return (
        <li>
          <a href={`/blog/${slug}`}>{title}</a> —{' '}
          {`${readingTime} ${MIN_READ_TEXT}`}
        </li>
      );
    })
  }
</ul>
