---
import { getCollection, type CollectionEntry } from 'astro:content';
import {
  PaperPlaneTiltIcon,
  GitlabLogoSimpleIcon,
  LinkedinLogoIcon,
} from '@phosphor-icons/react';

type FooterEntry = CollectionEntry<'footer'>;
type SocialLinksEntry = CollectionEntry<'socialLinks'>;

const footerCollection: FooterEntry[] = await getCollection('footer');

if (footerCollection.length === 0) {
  throw new Error('Footer not found in copy collection');
}

const footer: FooterEntry = footerCollection[0];

const { headline, builtWith, collaboration, copyright } = footer.data;

const currentYear: number = new Date().getFullYear();

const socialLinksCollection: SocialLinksEntry[] =
  await getCollection('socialLinks');

if (socialLinksCollection.length === 0) {
  throw new Error('Social links not found in copy collection');
}

const { CTA: socialLinksCTA } = socialLinksCollection[0].data;
---

<footer class='mm-footer' id='contact'>
  <h2 class='mm-footer__heading'>{headline}</h2>
  <p class='mm-footer__collaboration'>
    {collaboration}
  </p>
  <ul class='mm-footer__social-links-list'>
    {
      socialLinksCTA.map(({ url, label }) => (
        <li class='mm-footer__social-link'>
          {url && (
            <a href={url}>
              {url.startsWith('mailto:') && <PaperPlaneTiltIcon size={20} />}
              {(url.includes('gitlab') || url.includes('github')) && (
                <GitlabLogoSimpleIcon size={20} />
              )}
              {url.includes('linkedin') && <LinkedinLogoIcon size={20} />}
              {label}
            </a>
          )}
        </li>
      ))
    }
  </ul>

  <p class='mm-footer__built-with'>
    {builtWith} &copy; {`${currentYear} ${copyright}`}
  </p>
</footer>
