---
import { getCollection, type CollectionEntry } from 'astro:content';

type FooterEntry = CollectionEntry<'footer'>;
type SocialLinksEntry = CollectionEntry<'socialLinks'>;

const footerCollection: FooterEntry[] = await getCollection('footer');
if (footerCollection.length === 0) {
  throw new Error('Footer not found in copy collection');
}
const footer: FooterEntry = footerCollection[0];

const socialLinksCollection: SocialLinksEntry[] =
  await getCollection('socialLinks');
if (socialLinksCollection.length === 0) {
  throw new Error('Social links not found in copy collection');
}
const socialLinks: SocialLinksEntry = socialLinksCollection[0];
const { CTA: socialLinksCTA } = socialLinks.data;

const {
  headline,
  builtWith,
  orFindMe,
  copyright,
  CTA: { label, url },
} = footer.data;

const currentYear: number = new Date().getFullYear();
---

<footer class='footer-section' id='contact'>
  <h2 class='heading'>{headline}</h2><a
    href={url}
    target='_blank'
    class='external-link'>{label}</a
  >
  {orFindMe}
  <ul>
    {
      socialLinksCTA.map(({ url, label }) => (
        <li>{url && <a href={url}>{label}</a>}</li>
      ))
    }
  </ul>
  <p>{builtWith} &copy; {`${currentYear} ${copyright}`}</p>
</footer>
