---
import { getCollection, type CollectionEntry } from 'astro:content';
import {
  PaperPlaneTiltIcon,
  GitlabLogoSimpleIcon,
  LinkedinLogoIcon,
} from '@phosphor-icons/react';

type FooterEntry = CollectionEntry<'footer'>;

const footerCollection: FooterEntry[] = await getCollection('footer');

if (footerCollection.length === 0) {
  throw new Error('Footer not found in copy collection');
}

const { headline, builtWith, collaboration, copyright, CTA } =
  footerCollection[0].data;

const currentYear: number = new Date().getFullYear();
---

<footer class='mm-footer' id='contact'>
  <div class='mm-footer__body'>
    <h2 class='mm-footer__heading'>{headline}</h2>
    <p class='mm-footer__collaboration'>
      {collaboration}
    </p>
    <ul class='mm-footer__social-links-list'>
      {
        CTA.map(({ url, label }) => (
          <li class='mm-footer__social-link'>
            {url && (
              <a href={url}>
                {url.startsWith('mailto:') && <PaperPlaneTiltIcon size={20} />}
                {(url.includes('gitlab') || url.includes('github')) && (
                  <GitlabLogoSimpleIcon size={20} />
                )}
                {url.includes('linkedin') && <LinkedinLogoIcon size={20} />}
                {label}
              </a>
            )}
          </li>
        ))
      }
    </ul>
  </div>

  <p class='mm-footer__built-with'>
    {builtWith}
    <span class='mm-footer__copyright'>
      &copy; {`${currentYear} ${copyright}`}
    </span>
  </p>
</footer>
