---
import { getCollection, type CollectionEntry } from 'astro:content';

type FooterEntry = CollectionEntry<'footer'>;

const footerCollection: FooterEntry[] = await getCollection('footer');

if (footerCollection.length === 0) {
  throw new Error('Footer not found in copy collection');
}

const footer: FooterEntry = footerCollection[0];

const {
  headline,
  CTA: { label, url },
} = footer.data;

const currentYear = new Date().getFullYear();

const COPYRIGHT_TEXT: string = 'Marco Mazzai. All rights reserved.';
---

<footer class='footer-section' id='contact'>
  <h2 class='heading'>{headline}</h2><a
    href={url}
    target='_blank'
    class='external-link'>{label}</a
  >
  <p>&copy; {currentYear} {COPYRIGHT_TEXT}</p>
</footer>
