---
import { CaretLeftIcon, CaretRightIcon } from "@phosphor-icons/react";

interface EntryProps {
  href: string;
  heading: string;
  kicker?: string;
}

interface GoToEntryProps {
  prevEntry?: EntryProps;
  nextEntry?: EntryProps;
}

const { prevEntry, nextEntry } = Astro.props as GoToEntryProps;
---

<nav class="mm-go-to-entry">
  {
    prevEntry && (
      <a href={prevEntry.href} class="mm-go-to-entry__link">
        <CaretLeftIcon />
        <div class="mm-go-to-entry__info">
          {prevEntry.kicker && (
            <div class="mm-go-to-entry__info--kicker">{prevEntry.kicker}</div>
          )}
          <div class="mm-go-to-entry__info--heading">{prevEntry.heading}</div>
        </div>
      </a>
    )
  }
  {
    nextEntry && (
      <a href={nextEntry.href} class="mm-go-to-entry__link">
        <div class="mm-go-to-entry__info">
          {nextEntry.kicker && (
            <div class="mm-go-to-entry__info--kicker">{nextEntry.kicker}</div>
          )}
          <div class="mm-go-to-entry__info--heading">{nextEntry.heading}</div>
        </div>
        <CaretRightIcon />
      </a>
    )
  }
</nav>
