---
import { getCollection, type CollectionEntry } from "astro:content";
import ProjectIframe from "./ProjectIframe.astro";
import ChipList from "./ChipList.astro";
import IconLink from "./IconLink.astro";
import Button from "./Button.astro";
import { GithubLogoIcon } from "@phosphor-icons/react";
import { formatDateRange } from "../lib/date";

type PetProjectEntry = CollectionEntry<"petProjects">;

const entries: PetProjectEntry[] = await getCollection("petProjects");
const sortedEntries = entries.sort((a, b) => a.data.order - b.data.order);
const isHome = Astro.url.pathname === "/";

const HEADLINE_LABEL: string = "Pet Projects";
const SEE_ALL_PROJECTS_TEXT: string = "See all projects";

const GITHUB_LABEL: string = "Github";
---

<section class="mm-section" id="projects">
  <h2 class="mm-section__headline">{HEADLINE_LABEL}</h2>
  {
    isHome && (
      <Button class="mm-section__button" href="/about">
        {SEE_ALL_PROJECTS_TEXT}
      </Button>
    )
  }
  <ul>
    {
      sortedEntries.map((entry) => {
        const {
          heading,
          kicker,
          description,
          date,
          chips,
          githubUrl,
          preview,
        } = entry.data;

        return (
          <li class="mm-section-item mm-section-item__project-item">
            <div class="mm-section-item__info">
              <span class="mm-section-item__time">
                {formatDateRange(date.from, date.to)}
              </span>
              <p class="mm-section-item__kicker">{kicker}</p>
              <h3 class="mm-section-item__heading">
                <a href={`/projects/${entry.id}`}>{heading}</a>
              </h3>
              <ChipList chips={chips} />
              <p class="mm-section-item__preview">{description}</p>
              <IconLink href={githubUrl} target="_blank">
                {GITHUB_LABEL}
                <GithubLogoIcon slot="icon-left" />
              </IconLink>
            </div>
            <div class="mm-section-item__image">
              <img srcset="https://placehold.co/389x325" />
            </div>
            <hr class="mm-section-item__divider" />
          </li>
        );
      })
    }
  </ul>
</section>
