---
import { type CollectionEntry } from 'astro:content';
import ProjectIframe from './ProjectIframe.astro';
import ChipList from './ChipList.astro';
import { formatDateRange } from '../lib/date';

type PetProjectItemProps = {
  entry: CollectionEntry<'petProjects'>;
};

const { entry } = Astro.props as PetProjectItemProps;
const { headline, type, description, date, chips, githubUrl, preview } = entry.data;

const GITHUB_LABEL: string = 'Github';
---

<a href={`/projects/${entry.id}`}>
  <h3>{headline}</h3>
</a>
<div>
  <em>{type}</em>
  <p>{description}</p>
  <span>{formatDateRange(date.from, date.to)}</span>

  <ChipList chips={chips} />
  {githubUrl && (
    <a href={githubUrl} target='_blank'>
      {GITHUB_LABEL}
    </a>
  )}
  {preview && <ProjectIframe src={preview.url} title={preview.title} />}
</div>
