---
import { getCollection, type CollectionEntry } from "astro:content";
import { formatDateRange, type PartialDate } from "../lib/date";

type WorkExperienceItem = {
  workPlace: string;
  url: string;
  description: string;
  role: string;
  date: { from: PartialDate; to?: PartialDate };
  location: string;
  tasks: string[];
};

type WorkExperiencesEntry = CollectionEntry<"workExperiences">;

const workExperiencesCollection: WorkExperiencesEntry[] =
  await getCollection("workExperiences");

if (workExperiencesCollection.length === 0) {
  throw new Error("Work experiences not found");
}

const workExperiences = workExperiencesCollection[0].data
  .workExperiencesItems as WorkExperienceItem[];
---

<h2>Work experiences</h2>
<ul>
  {
    workExperiences.map(({ workPlace, url, role, date, location, tasks }) => (
      <li class="mm-work-experiences__item">
        <div class="mm-work-experiences__details">
          <div class="mm-work-experiences__location">
            <a href={url}>{workPlace}</a>
            <div>{location}</div>
          </div>
          <div>{formatDateRange(date.from, date.to)}</div>
        </div>
        <h3 class="mm-work-experiences__heading">{role}</h3>
        <ul class="mm-work-experiences__tasks">
          {tasks.map((task) => (
            <li>{task}</li>
          ))}
        </ul>
      </li>
    ))
  }
</ul>
