---
import { getCollection, render, type CollectionEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProjectIframe from "../../components/ProjectIframe.astro";
import { formatDateRange } from "../../lib/date";
import { PAGE_TITLES } from "../../content.config";
import ChipList from "../../components/ChipList.astro";
import IconLink from "../../components/IconLink.astro";
import { GithubLogoIcon } from "@phosphor-icons/react";
import GoToEntry from "../../components/GoToEntry.astro";

type PetProjectEntry = CollectionEntry<"petProjects">;

export const getStaticPaths = async () => {
  const entries: PetProjectEntry[] = await getCollection("petProjects");
  const sorted = entries.sort((a, b) => a.data.order - b.data.order);

  return sorted.map((entry, index) => ({
    params: { id: entry.id },
    props: {
      entry,
      prevEntry: sorted[index - 1],
      nextEntry: sorted[index + 1],
    },
  }));
};

const { entry, prevEntry, nextEntry } = Astro.props as {
  entry: PetProjectEntry;
  prevEntry: PetProjectEntry | undefined;
  nextEntry: PetProjectEntry | undefined;
};

const { heading, kicker, description, date, chips, githubUrl, preview } =
  entry.data;

const pageTitle = `${heading} ${PAGE_TITLES.blogSuffix}`;

const GITHUB_LABEL: string = "Github";

const ABOUT_THE_PROJECT_TITLE: string = "About the project";
---

<BaseLayout title={pageTitle}>
  <section class="mm-pet-project-single">
    <div class="mm-pet-project-single__date">
      {formatDateRange(date.from, date.to)}
    </div>
    <div class="mm-pet-project-single__kicker">{kicker}</div>
    <h1 class="mm-pet-project-single__heading">{heading}</h1>
    <ChipList chips={chips} />
    <div class="mm-pet-project-single__content">
      <h2 class="mm-pet-project-single__content--heading">
        {ABOUT_THE_PROJECT_TITLE}
      </h2>
      <p class="mm-pet-project-single__content--description">{description}</p>
      <IconLink href={githubUrl} target="_blank">
        {GITHUB_LABEL}
        <GithubLogoIcon slot="icon-left" />
      </IconLink>
    </div>
    {preview && <ProjectIframe src={preview.url} title={preview.title} />}
    <hr class="mm-pet-project-single__divider" />
    <GoToEntry
      prevEntry={prevEntry && { href: `/projects/${prevEntry.id}`, heading: prevEntry.data.heading, kicker: prevEntry.data.kicker }}
      nextEntry={nextEntry && { href: `/projects/${nextEntry.id}`, heading: nextEntry.data.heading, kicker: nextEntry.data.kicker }}
    />
  </section>
</BaseLayout>
