---
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import { PAGE_TITLES, META } from '../content.config';
import '../styles/global.css';

interface BaseLayoutProps {
  title?: string;
}

const { title } = Astro.props as BaseLayoutProps;

const pageTitle = PAGE_TITLES.default;
const {
  keywords,
  description,
  title: metaTitle,
  og: {
    url: ogUrl,
    image: ogImage,
    type: ogType,
    description: ogDescription,
    locale: ogLocale,
  },
} = META;
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title ?? pageTitle}</title>

    <!-- SEO + Social Meta -->
    <meta name='keywords' content={keywords} />
    <meta name='description' content={description} />
    <meta property='og:title' content={metaTitle} />
    <meta property='og:url' content={ogUrl} />
    <meta property='og:image' content={ogImage} />
    <meta property='og:type' content={ogType} />
    <meta property='og:description' content={ogDescription} />
    <meta property='og:locale' content={ogLocale} />
  </head>
  <body>
    <Navigation />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
